<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.smartthings.alfred</string>
	<key>connections</key>
	<dict>
		<key>272967B5-A417-41C9-B002-4AC4049A8C3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A5077A9-E3D6-4D3D-B74A-57EFBF6C68C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>39E547C3-9C21-49BF-8166-616DE7121A39</key>
		<array/>
		<key>7A5077A9-E3D6-4D3D-B74A-57EFBF6C68C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11C42622-3B43-409F-98B3-AD66FD0BCF4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CFDA33D-D8FE-4F0A-818B-588C0B587F28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2B981D2-D95C-47A9-8982-019137F568F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57860455-BE78-4561-969A-9A674F5EDD9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E682EA43-C1D7-462C-ADBD-EF3A09CAEB3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39E547C3-9C21-49BF-8166-616DE7121A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@bearduino</string>
	<key>description</key>
	<string>Control your physical graph</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SmartThings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>from get_token import get_token

print(get_token("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A5077A9-E3D6-4D3D-B74A-57EFBF6C68C7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st_login</string>
				<key>script</key>
				<string>from login_command import login_command

print(login_command("{query}"))</string>
				<key>title</key>
				<string>SmartThings Login</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>272967B5-A417-41C9-B002-4AC4049A8C3D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>from execute_command import execute_command

print(execute_command("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39E547C3-9C21-49BF-8166-616DE7121A39</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>st_logout</string>
				<key>text</key>
				<string>Logout of SmartThings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2B981D2-D95C-47A9-8982-019137F568F4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st</string>
				<key>runningsubtext</key>
				<string>collecting devices</string>
				<key>script</key>
				<string>from device_collector import device_collector

print(device_collector("{query}"))</string>
				<key>subtext</key>
				<string>A list of your switches</string>
				<key>title</key>
				<string>Switches</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E682EA43-C1D7-462C-ADBD-EF3A09CAEB3D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SmartThings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7CFDA33D-D8FE-4F0A-818B-588C0B587F28</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>set temp to "{query}"
set temp to do shell script "echo " &amp; quoted form of temp &amp; "| tr -d '\\r\\n' "

if temp is "" then
	tell application "Alfred 2" to search "st_login "
else
	do shell script "python getSmartAppId.py"
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>11C42622-3B43-409F-98B3-AD66FD0BCF4B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>rm email.txt
rm token.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>57860455-BE78-4561-969A-9A674F5EDD9B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11C42622-3B43-409F-98B3-AD66FD0BCF4B</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>272967B5-A417-41C9-B002-4AC4049A8C3D</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>39E547C3-9C21-49BF-8166-616DE7121A39</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>57860455-BE78-4561-969A-9A674F5EDD9B</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>7A5077A9-E3D6-4D3D-B74A-57EFBF6C68C7</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>7CFDA33D-D8FE-4F0A-818B-588C0B587F28</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C2B981D2-D95C-47A9-8982-019137F568F4</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>E682EA43-C1D7-462C-ADBD-EF3A09CAEB3D</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>smartthings.com</string>
</dict>
</plist>
